.image{
    width: 120px;
    margin-top: 0.3rem;
}

.details{
    font-size: 20px !important;
    width: 700px !important;
    text-align: center !important;
}

.link{
    text-transform: none;
    color: black;
}

.link:hover{
    color: '#FFCCCC' !important;
}
  