.container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .title {
    margin-bottom: 3rem;
  }

  .image{
    width: 75rem;
    height: 20rem;
    margin-top: 60px;
  }

  .addProduct{
    height: 40px;
    position: absolute;
    top: 10%;
    right: 0%;
    display: flex;
    cursor: pointer;
    color: black;
    border: #FFCCCC;
    float: right;
  }

  .addProductText{
    font-size: 15px;
    text-transform: uppercase;
  }

  .addProduct:hover{
   border: 1px solid #FFCCCC;
	 color: #FFCCCC;
	 cursor: pointer;
  }
  